{% extends "bootstrap.html" %}

{% block body %}

<div class="page-header">
	<h1> {{object.symbol}} 
	<small> {{object.symbol.description}} </small>
	</h1>
</div>

<form role="form">
	<div class="panel panel-primary">
		<div class="panel-heading">Panel - General Holding</div>
		<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
							<label>Symbol</label>
							<input class="form-control" id="symbol" placeholder="{{object.symbol}}">
					</div>
					<div class="col-md-4">
							<label>Portfolio</label>
							<input class="form-control" id="portfolio" placeholder="{{object.portfolio}}">
					</div>
				</div>
		</div>
		<div class="panel-footer">
					  <button type="submit" class="btn btn-default pull-right">Submit</button>
					  <div class="clearfix"></div>
		</div>
	</div>
</form>


<form role="form">
	<div class="panel panel-primary">
		<div class="panel-heading">General Panel form</div>
		<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
							<label>.col-md-4</label>
							<input class="form-control" id="field1" placeholder="field1">
					</div>
					<div class="col-md-4">
							<label>.col-md-4</label>
							<input class="form-control" id="field2" placeholder="field2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
							<label>.col-md-8</label>
							<input class="form-control" id="field1" placeholder="field1">
					</div>
					<div class="col-md-6">
							<label>.col-md-8</label>
							<input class="form-control" id="field2" placeholder="field2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
							<label>.col-md-4</label>
							<input class="form-control" id="field1" placeholder="field1">
					</div>
					<div class="col-md-8">
							<label>.col-md-8</label>
							<input class="form-control" id="field2" placeholder="field2">
					</div>
				</div>

		</div>
		<div class="panel-footer">
			  <button type="submit" class="btn btn-default pull-right">Submit</button>
			  <div class="clearfix"></div>
		</div>
	</div>
</form>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


	
{% endblock %}