{% extends "bootstrap.html" %}
{% block body %}
	<!-- MainView.html -->
	<h1>Portfolio List</h1>    
	{% if user.is_authenticated %}
	    <p>    <a href="{% url "portfolio_add" %}"> Add a Portfolio </a>
	{% endif %}
	
    {% for p in object_list %}
	<div class="panel panel-default">
  		<div class="panel-heading"><a href="{% url "portfolio_edit" p.id %}"> {{p}} </a></div>
		<div class="panel-body">
		
		</div>

        <table class="table">
			{% if p.holding_set.all %}
		        <tr>
		            <th>Holding</th>
		            <th>Shares</th>
		            <th>Value</th>
		            <th>Current Price</th>
		            <th>Action(B/S) </th>
		            <th></th>
		            <th>Next Buy</th>
		            <th>Next Sell</th>
		            <th>Transaction</th>
		        </tr>
		    {% endif %}
    
		    {% for h in p.holding_set.all %}
		    <tr>
		        <td><a href="{% url "holding_view" h.id %}" >{{ h.symbol }}</a></td>
		        <td>{{ h.shares }}</td>
		        <td>{{ h.value }}</td>
		        <td>{{ h.symbol.currentprice.close }}</td>
		        <td> </td>
		        <td></td>
		        <td> {{ h.currentalert.buyprice }} </td>
		        <td> {{ h.currentalert.sellprice }}</td>
		        <td> <a href="{% url "transaction" h.id %}" type="button" class="btn btn-success" >Buy </a> 
		        	 <a href="{% url "transaction" h.id %}" type="button" class="btn btn-danger" >Sell </a>
		        </td>
		    </tr>
	{% endfor %}
    </table>

    </div>
    
    <a href="{% url "holding_add" p.id %} ">Add Holding </a>
        
        
  </div>	
</div>
        
    {% endfor %}
   
	
	{% if public_list %}
	    <h1> Public Portfoliios </h1>
	    {% for p in public_list %}
	        {{p}} <br>
	    {% endfor %}
	
	{% endif %}


<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  
  <div class="panel-body">
    Panel content
  </div>
</div>


	
	

{% endblock %}