{% extends "bootstrap.html" %}
{% block body %}
	<!-- MainView.html -->
	{% if object_list %}
		<h1>Portfolio List</h1>    {% if user.is_authenticated %}
	    <p>    <a href="{% url "portfolio_add" %}"> Add a Portfolio </a>
	{% endif %}
	
	    {% for p in object_list %}
	        <table border=1>
	        <tr>
	            <th>edit:<a href="{% url "portfolio_edit" p.id %}"> {{p}} </a></th>
	        </tr>
	
	        <tr>
	            <th>Holding</th>
	            <th>Value</th>
	            <th>Current Price</th>
	            <th>Action(B/S) </th>
	            <th></th>
	            <th>Next Buy</th>
	            <th>Next Sell</th>
	        </tr>
	        {% for h in p.holding_set.all %}
	        <tr>
	            <td>{{ h.symbol }}</td>
	            <td>{{ h.value }}</td>
	            <td>{{ h.symbol.currentprice.close }}</td>
	            <td> </td>
	            <td></td>
	            <td> {{ h.currentalert.buyprice }} </td>
	            <td> {{ h.currentalert.sellprice }}</td>
	        </tr>
	        {% endfor %}
	        <td><a href="{% url "holding_addplain" %} ">Add Holding </a> </td>
	        </table>
	        
	        <br>
	    {% endfor %}
	   
	{% endif %}
	
	
	
	{% if public_list %}
	    <h1> Public Portfoliios </h1>
	    {% for p in public_list %}
	        {{p}} <br>
	    {% endfor %}
	
	{% endif %}
	

{% endblock %}