{% extends "base.html" %}

{% block content %}

{% if object_list %}

    <h1>Portfolio List</h1>
    {% for p in object_list %}
        {{p}}<a href="/aim/portfolio/edit/{{p.id}}"> edit </a>   <br>
        
        {% for h in p.holding_set.all %}
            {{ h.stock }} <br>
        {% endfor %}
        <a href="/aim/holding/add?portfolio={{p.id}}">Add Holding </a>
        <hr>    
        
    {% endfor %}
    
{% endif %}

{% if user.is_authenticated %}
    <p>    <a href="/aim/portfolio/add"> Add a Portfolio </a>
{% endif %}

{% if public_list %}
    <h1> Public Portfoliios </h1>
    {% for p in public_list %}
        {{p}} <br>
    {% endfor %}

{% endif %}


{% endblock %}